/* Adjusting list group item styles to be responsive */
.list-group-item {
    margin-bottom: 1vh; /* 1% of the viewport's height */
    background: none;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 1.2rem;
    font-size: 0.75rem;
    transition: color 0.3s;
}

.list-group-item:hover {
    color: #06ff7b;
}

/* Responsive font size and padding for smaller devices */
@media (max-width: 768px) {
    .list-group-item {
        font-size: 3.5vw; /* Adjust font size based on viewport width */
        padding: 3vw; /* Padding that scales with viewport width */
    }
}

/* Ensuring the content is within the viewport for extra small devices */
@media (max-width: 576px) {
    .container-fluid > .row > .col-md-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .list-group-item {
        margin-bottom: 2vh; /* Increased margin for smaller screens */
    }
}
